{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}" />
<div class="body">
    <div class="content-container">
        <div class="image-container">
            <img src="{% static 'img/pizzeria.jpg' %}" alt="Acerca de nosotros">
        </div>
        <div class="text-container">
            <h1>Acerca de nosotros</h1>
            <p>
                ¡Bienvenidos a GioPizza, el rincón fresco y delicioso de Giovanni y Fabio en Pudahuel! Somos dos hermanos apasionados que han decidido darle vida a nuestra visión de la pizza perfecta en nuestra querida comunidad.
                Giovanni y Fabio, los rostros detrás de GioPizza, estamos emocionados de ofrecer una experiencia única de pizzas frescas y sabrosas. Somos nuevos en este emocionante viaje, pero nuestra pasión por la pizza es tan fresca como nuestras deliciosas creaciones.
                En GioPizza, nos esforzamos por llevar la auténtica tradición italiana a cada bocado. Nuestras pizzas están cuidadosamente elaboradas con ingredientes frescos y de alta calidad, combinando lo clásico con un toque moderno que esperamos que disfruten.
                Estamos aquí para más que solo satisfacer su hambre. Queremos ser parte de sus momentos especiales y agregar un toque de alegría a su día a día con nuestras creaciones únicas. Cada pizza que preparamos lleva consigo la pasión y la dedicación de dos hermanos que aman lo que hacen.
                Giovanni y Fabio están emocionados de darle la bienvenida a GioPizza, donde la autenticidad se une al sabor en cada rebanada. Gracias por acompañarnos en este nuevo capítulo de nuestra historia. ¡Esperamos que disfruten de nuestra pizza tanto como nosotros disfrutamos compartiéndola con ustedes!            </p>
        </div>
    </div>
</div>
{% endblock %}
