{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}" />
<div class="container">
  <div class="perfil">
    <div class="headercard">
      <h2 class="tipografiatitle1">Datos del usuario {{ user.username }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-8">
            <br>
            <p class="perfilText"><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            <p class="perfilText"><strong>Nombre y apellido:</strong> {{ user.first_name }} {{user.last_name}}</p>
            <p class="perfilText"><strong>Email:</strong> {{user.email}} </p>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <button type="button" class="btnshorario1 tipografia" data-bs-toggle="modal" data-bs-target="#modal">
      Editar perfil
    </button>

  </div>
</div>

<div class="container">
  <div class="perfil">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-8">
            <br>
            <div class="headercard">
              <h2 class="tipografiatitle1">Historial de Pedidos</h2>
            </div>
            {% for pedido in pedidos %}
            <ul class="pedido">
              <li class="pedido-titulo tipografia">ID del pedido {{ pedido.id }}</li>
              <li class="pedido-item textPedido">Productos:</li>
              {% for item in pedido.productos.all %}
              <li class="pedido-item textPedido">{{ item.cantidad }} x {{ item.titulo }}</li>
              {% endfor %}
              <li class="pedido-item textPedido">Dirección: {{ pedido.direccion }}</li>
              <li class="pedido-item textPedido">Fecha: {{ pedido.fecha_hora }}</li>
              <li class="pedido-item textPedido">Teléfono: {{ pedido.telefono }}</li>
              <li class="pedido-item textPedido">Tipo de Pago: {{ pedido.payment_method }}</li>
            </ul>
            {% endfor %}
            <div class="headercard">
              <h2 class="tipografiatitle1">Seguimiento de Pedidos</h2>
            </div>
            <p>Estado del pedido actual: Preparando su pizza</p>
            <p>Estimado de entrega: 15 minutos</p>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-reserva" id="modalLabel{{ solicitud.id }}">Editar informacion de {{user.username}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          {% for field in form %}
            {% for error in field.errors %}
          <p style="color: red;">{{ error }}</p>
            {% endfor %}
          {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  $("#myModalBtn").click(function () {
    $("#myModal").modal("show");
  });

  $("#cancelBtn").click(function () {
    $("#myModal").modal("hide")
  })
</script>
{% endblock %}