{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

<div class="contenido">
  <div class="footer-content">
    <div class="footer-section">
      <h4>GioPizza</h4>
      <ul>
        <li>
          <a href="/">Pizzas</a>
        </li>
        <li>
          <a href="#">Acerca de nosotros</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Ayuda</h4>
      <ul>
        <li>
          <a href="#">Preguntas frecuentes</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Dirección</h4>
      <p>Machalí 1338, Pudahuel.</p>
    </div>
    <div class="footer-section">
      <h4>Redes Sociales</h4>
      <ul>
        <li>
          <a href="https://www.instagram.com/gio_pizzeria_al_forno/">
            <img src="{% static 'img/socials/instagram.png' %}" alt="Instagram" width="40px" height="40px"/>
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/message/7KRYJ57K2HECJ1?autoload=1&app_absent=0">
            <img src="{% static 'img/socials/whatsapp.png' %}" alt="WhatsApp" width="40px" height="40px" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p>© 2023 GioPizza, todos los derechos reservados.</p>
  </div>
</div>
