{% extends 'base.html' %}
{% load my_custom_tags.custom_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ingreso.css' %}" />

<div class="body">
    <div class="column">
        <h1>REGISTRO</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <input type="submit" value="Enviar">
                <ul class="errorlist">
                </ul>
            </form>
    </div>
</div>
{% endblock %}