.text-center {
    font-size: 24px;
    font-weight: bold;
}

.table {
    border: 2px solid rgb(215, 215, 215);
    margin-top: 20px;
}

.table th {
    background-color: white;
    color: black;
    font-weight: bold;
}

.btn-success, .btn-danger {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px;
}

.btn-danger {
    background-color: #ff6f60;
    color: #fff;
}

.btn-success {
    background-color: #4caf50;
    color: #fff;
}

#total_carrito {
    font-size: 20px;
    font-weight: bold;
    background-color: #680200;
}

.alert-danger {
    background-color: #680200;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.float-left {
    float: left;
    margin-right: 5px;
}

.float-right {
    float: right;
    margin-left: 5px;
}

.quantity {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-weight: bold;
}

.btn-increment {
    padding: 6px 6px;
    font-size: 6px;
}