/* Estilos existentes */

.body {
    display: flex;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    padding: 2em;
    text-align: center;
}

.main-content {
    flex: 2;
    padding: 0 20px;
}

.info-sidebar {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.delivery {
    background-color: white;
    padding: 2em;
    border-radius: 20px;
}

.delivery-options {
    display: flex;
    justify-content: space-around;
}

.delivery-details {
    display: none;
}

.delivery-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.delivery-info label,
select,
.comuna {
    padding: 10px;
    margin: 0 auto;
}

.delivery-options label {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 3px solid #ccc;
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.delivery-options label.selected {
    background-color: rgb(225, 225, 225);
}

.delivery-options label input {
    display: none;
}

.payment {
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    margin-top: 20px;
}

.payment-options {
    display: flex;
    justify-content: space-around;
}

.payment-options label {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 3px solid #ccc;
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.payment-options label.selected {
    background-color: rgb(225, 225, 225);
}

.payment-options label input {
    display: none;
}

.button {
    margin-top: 25px;
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.resumen {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.resumen td{
text-align: left;
}

.acumulado {
    text-align: right!important;
}

.total{
    background-color: #34db63;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 50px;
}