.body {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    border-radius: 20px;
    padding: 25px;
}

.comments-section {
    width: 40%; /* Ajusta el ancho según sea necesario */
    padding-right: 20px;
}

.comment {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

form {
    width: 60%; /* Ajusta el ancho según sea necesario */
    max-width: 400px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.rating {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.star {
    font-size: 30px;
    cursor: pointer;
}

.selected {
    color: gold;
}
