.body {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin: 0;
    border-radius: 20px;
    padding: 25px;
}

.comments-section {
    width: 70%; /* Ajusta el ancho según sea necesario */
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.comment {
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.form-section {
    width: 50%; /* Ajusta el ancho según sea necesario */
    max-width: 400px;
    margin: 30px;
    padding: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.rating {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.star {
    font-size: 30px;
    cursor: pointer;
}

.selected {
    color: gold;
}

.form-section {
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
