/* Estilos para el cuerpo de la página */
.body {
    background-color: rgba(255, 255, 255, 0.80);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    border-radius: 20px;
  }
  
  /* Estilo para el botón de navegación en hover */
  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  /* Estilos para los botones */
  button {
    display: none; /* Oculta los botones de "Anterior" y "Siguiente" */
  }
  
  /* Estilos para las tarjetas de productos */
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px; /* Ajusta el margen según tus preferencias */
  }
  
  .card {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  
  .card img {
    aspect-ratio: 1 1; /* Mantén una relación de aspecto de 1:1 */
  }
  
  .card .card-text {
    min-height: 3em; /* Ajusta la altura máxima según tus preferencias */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .card-info {
    margin-top: 10px;
  }
  
  .card-info h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .card-info p {
    font-size: 1em;
    margin-bottom: 3px;
  }
  
  .precio {
    margin-bottom: auto;
  }
  
  /* Estilo para pantallas pequeñas */
  @media (max-width: 767px) {
    .card {
      width: 100%; /* Tarjetas ocupan el 100% del ancho en pantallas pequeñas */
    }
  }
  
  .perfil{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }

    .perfilText {
      color: #000;
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

.textPedido {
  color: #ffff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
  
    .tipografia {
      color: #ffff;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      display: flex;
      align-items: center;
      /* Centrar verticalmente */
      justify-content: center;
      /* Centrar horizontalmente */
    }
    .tipografiatitle1 {
      color: #fff;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      display: flex;
      align-items: center;
      /* Centrar verticalmente */
      justify-content: center;
      /* Centrar horizontalmente */
    }
  
  
  
    .headercard {
      border-radius: 10px;
      background: #510000;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  
    .modal-reserva {
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  
    .modal-datos {
      color: #000;
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  
    .btnshorario1 {
      text-decoration: none;
      display: flex;
      width: 160px;
      padding: 10px 10px;
      border: 2px solid #000;
      background-color: #000;
      cursor: pointer;
      outline: none;
      transition: all 400ms;
      margin-top: 25px;
      margin-bottom: 15px;
  
  
    }
  
    .btnshorario1:hover {
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
    }
  
    .tipografia {
      color: #ffff;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      display: flex;
      align-items: center;
      /* Centrar verticalmente */
      justify-content: center;
      /* Centrar horizontalmente */
    }
  
    .btn-close {
      opacity: 1;
    }
  
    /* Estilos personalizados para la sección de comentarios en el modal */
    .comentarios {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      background: rgba(223, 223, 223, 0.71);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45) inset;
      padding: 15px;
      /* Espaciado interno para resaltar el contenido */
      border-radius: 5px;
      /* Bordes redondeados */
      overflow: auto;
      /* Si el contenido es largo, permite el desplazamiento */
    }

ul.pedido {
  list-style-type: none;
  background-color: #510000;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 0;
}

li.pedido-titulo {
  font-weight: bold;
  margin-bottom: 5px;
}

li.pedido-item {
  margin-left: 20px;
}

/* Estilo para los elementos de título y el fondo de la lista */
.pedido {
  background-color: #510000;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 0;
}

/* Estilo para los elementos de título */
.pedido-titulo {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para los elementos de la lista */
.pedido-item {
  margin-left: 20px;
  color: #fffdfd;
}