/* Establece la imagen de fondo */
body {
    background-image: url('/static/img/background.jpg');
    background-repeat: repeat; /* Repetir en ambos ejes */
    background-size: 10%; /* Reducir al 10% del tamaño original */
    display: flex; /* Utiliza flexbox para organizar el contenido */
    flex-direction: column; /* Columna principal, para que el footer quede al final */
    min-height: 100vh; /* Establece al menos el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
}

/* Estilo para la barra de navegación */
#navbar {
    background-color: #ffffff; /* Color de fondo del navbar */
    padding: 10px;
    margin: 2em; /* Margen superior de 2em y elimina los márgenes en otras direcciones */
    display: flex; /* Usa flexbox para centrar en el eje vertical */
    align-items: center; /* Alinea verticalmente */
}

/* Estilo para los botones del navbar */
#navbar button {
    margin: 5px; /* Espacio entre los botones */
    padding: 10px 20px; /* Espaciado interno (arriba/abajo, izquierda/derecha) */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin bordes */
    cursor: pointer;
}

/* Cambio de color al pasar el ratón por encima de los botones */
#navbar button:hover {
    background-color: #ddd;
}

/* Estilo para el logo en el navbar */
.logo {
    width: 100px; /* Ancho de la imagen del logo */
    height: 100px; /* Alto de la imagen del logo */
    margin-right: 10px; /* Espacio entre la imagen del logo y los botones */
    border-radius: 50%; /* Hace el logo redondo */
}

/* Estilo para el contenedor principal */
#container {
    background-color: rgba(255, 255, 255, 0.75); /* Color de fondo blanco */
    padding: 20px; /* Espaciado interno */
    margin-left: 6em; /* Margen izquierdo de 6em */
    margin-right: 6em; /* Margen derecho de 6em */
    flex: 1; /* Hace que ocupe el espacio restante en la vertical */
}

/* Estilo para el footer */
.footer {
    background-color: #541111; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 50px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    margin-top: 2em;
}
