.body {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 80%; /* Cambia el ancho del carrusel según tus preferencias */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide {
    width: 100%;
    transition: transform 0.8s cubic-bezier(0.25, 0.45, 0.45, 0.95), opacity 0.8s ease-in-out; /* Agrega una transición suave */
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid yellow;
    border-radius: 10px;
    animation: carousel 5s infinite;
    transition: opacity 0.5s ease-in-out; /* Agrega una transición de opacidad */
}
.button-container {
    position: relative;
}

.button-container button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: background-color 0.3s;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

