<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>GioPizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    
</head>
<body>
    <div id='navbar'>
        <div class="navbar-left">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
            <button class="nav-button">Menú</button>
            <button class="nav-button">Promociones</button>
        </div>
        <div class="navbar-right">
    <a href="{% url 'ingreso' %}" class="nav-button nav-button-login">Ingresar</a>
        </div>
    </div>

    <div id='container'>
        {% block content %}
        {% endblock content %}
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h4>GioPizza</h4>
                <ul>
                    <li><a href="#">Pizzas</a></li>
                    <li><a href="#">Acerca de nosotros</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Dirección</h4>
                <p>Dirección del local*</p>
            </div>
            <div class="footer-section">
                <h4>Redes Sociales</h4>
                <li><a href="https://www.instagram.com/gio_pizzeria_al_forno/">Instagram</a></li>
            </div>
        </div>
        <div class="copyright">
            <p>© 2023 GioPizza</p>
        </div>
    </footer>

    
    <script src="{% static 'js/carousel.js' %}"></script>
</body>
</html>
