{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">

<div class="body">
    <div class="carousel-container">
        <button id="prev" class="nav-button">&#10094;</button>
        <div class="carousel-slide">
            <img src="{% static 'img/carousel1.jpg' %}" alt="Imagen 1">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/carousel2.jpg' %}" alt="Imagen 2">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/carousel3.jpg' %}" alt="Imagen 3">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/carousel4.jpg' %}" alt="Imagen 4">
        </div>
        <button id="next" class="nav-button">&#10095;</button>
    </div>

    <div class="product-cards">
        {% for producto in productos %}
            <div class="card">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}">
                <div class="card-info">
                    <h2>{{ producto.titulo }}</h2>
                    <p>{{ producto.descripcion }}</p>
                    <p class="precio">Precio: {{ producto.precio_formateado }} </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/carousel.js' %}"></script>

{% endblock %}
